<app-header></app-header>
<main>
  <ul id="users">
    @for (user of users; track user.id) {

    <li>
      <app-user
        [user]="user"
        [selected]="user.id === selectedUserId"
        (select)="onSelectUser($event)"
      /><!--the "(select)=" will receive the output from app-user component-->
    </li>
    }
  </ul>

  @if (selectedUser) {

  <app-task
    [userId]="selectedUser.id"
    [name]="selectedUser.name"
  /><!--passing the data from parent to child component (task.component)-->
  }@else {
  <p id="fallback">Select a user to see their task!</p>
  }
</main>
