<app-header></app-header>
<main>
  <ul id="users">
    <li>
      <app-user
        [user]="users[0]"
        (select)="onSelectUser($event)"
      /><!--the "(select)=" will receivet the output from app-user component-->
    </li>
    <li>
      <app-user [user]="users[1]" (select)="onSelectUser($event)" />
    </li>
    <li>
      <app-user [user]="users[2]" (select)="onSelectUser($event)" />
    </li>
    <li>
      <app-user [user]="users[3]" (select)="onSelectUser($event)" />
    </li>
  </ul>
  <app-task
    [name]="selectedUser ? selectedUser.name : 'No User Name Found'"
  /><!--passing the data from parent to child component (task.component)-->
</main>
